.img-cart {
    height: 50px;
    width: 50px;
    border-radius: 16%;
}

.desc-cart {
    position: relative;
    float: right;
    left: -80px;
    padding: 0;
    color:  hsl(219, 9%, 45%);
    font-size: 16px;
}

.desc-cart strong {
    color: hsl(220, 13%, 13%);
    font-weight:  900;
}

.desc-cart img {
    position: absolute;
    left: 250px;
    top: 3px;
}

.cart {
    position: fixed;
    background: hsl(0, 0%, 100%);
    top: 82px;
    right: 10px;
    width: 380px;
    border-radius: 15px;
    box-shadow: inset 3px 5px 5px 4px hsl(220, 14%, 75%);
}

.cart-notice{
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
   
}
