.navbar-mobile{
    position: fixed;
    width: 400px;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    height: 45px;
    background: hsl(0, 1%, 95%);
    box-shadow: inset 0px -2px 0px #c5c5c6;
    z-index: 1000;
}

.btn-toggle-mobile {
  position: fixed;
  left: 3px;
}
 


.icon-toggle {
 margin-left: -1px;
 margin-top: 10px;
}
  

.logo-nav-mobile img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-item-mobile {
    margin: 10px -5px;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    position: relative;
    list-style-type: none;
}

.nav-item-mobile li a{
  position: relative;
}

.nav-item-mobile a{
    text-decoration: none;
    color:hsl(0, 0%, 41%);;
}

.links-items-mobile{
  position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    left: -18px;
    height: 100%;
    width: 200px;
    background-color: hsl(0, 1%, 95%);
}

a:hover{
    color: hsl(0, 0%, 8%);
    font-weight: bold;
    
  }


  .sign-btn-mobile{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .sign-btn-mobile button {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 1px;
    margin: 0 1px;
    width: 105px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
  }

  .sign-btn-mobile p {
    width: 105px;
    height: 40px;
    cursor: pointer;
  }

  button:hover{
    color: hsl(0, 0%, 8%);
    font-weight: bold;
  }
  .sign-btn-mobile button:nth-child(1) {
    border: none;
    background: hsl(0, 1%, 95%);;
  }

  .sign-btn-mobile button:nth-child(2) {
    border: none;
    background: hsl(0, 1%, 95%);;
  }
 
  .avatar-mobile {
    border: 1px solid hsl(26, 100%, 55%);
    border-radius: 50%;
    position: absolute;
    top: 14px;
    height:40px ;
    width: 40px;
  }
.cart-count-mobile {
  /* background: '', color: '', borderRadius: '50px', fontSize:'16px', position:'absolute',; */
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 1%, 0%);
  border-radius: 50px;
  font-size: 12px;
  position: absolute;
  padding:  5px 5px;

  
} 